<%= render :partial => "single_commit", :locals => { commit: @user.commits(@repos.first['url']).first, repo: @repos.first } %>

<% @repos.each_with_index do |repo, i| %>
  <% break if i == 3 %>
  <% show = 5 %>
  <% commits = @user.commits(repo['url']) %>
  <%= render :partial => "repo_commit_table", :locals => { repo: repo, commits: commits, show: show } %>
  <p><small>showing <%= show %> of <%= commits.size %> <a href="/repo?url=<%= repo['url'] %>">view all</a></small></p>
  <br><br>
<% end %>